body{
    font-family: 'Dancing Script', cursive;;
    color: #312f2f;
    font-size: 30px;
}
nav{
    background-color:black!important
}
.contain{
    margin: 0px 70px;
    background-color: white;
  } 

.btn{
    background-color:#1a9c8d ;
    color: white
}
.btn:hover{
    background-color:#8A2BE2 ;
    color: white
}
a:hover{ text-decoration:none; }
.navbar-brand{text-decoration:none;}


.blue-violet-darker-hover {
    color: white!important;
    -webkit-transition: .4s;
    transition: .4s; }


.blue-violet-darker-hover:hover {
    -webkit-transition: .4s;
    transition: .4s;
    color: 	#8A2BE2!important }

.navcol {
    color:  white!important;
    margin: 10px;
}
.navcol:hover{
    color: #8A2BE2!important;
}
.dropdown-menu{
    background-color: #444242;
    
}
.dropdown-item{
    color:  #1a9c8d;
}
.dropdown-item:hover{
    background-color: #8A2BE2;
    color:white
}
.carousel-item img{
    height: 680px;
}
.slidecol h4{
    color: #eb4848
}
.logo img{
    height: 70px;
    width: 70px;
}
.slide{
    padding: 20px 0px;
}
